/* CSS declarations go here */

.row.items {
  margin-top: 20px;
}

form button {
  margin-top: 24px;
}

.glyphicon.glyphicon-remove-circle {
  top: 10px;
  font-size: 22px;
  color: gray;
  display: none;
  left: 20px;
}

.glyphicon.glyphicon-remove-circle:hover {
  cursor: pointer;
}

.list-group-item.checked .checkbox label{
  color: #aaa;
  font-style: italic;
}
.list-group-item input.datepicker {
  display: none;
}

.list-group-item:hover .glyphicon-remove-circle, .list-group-item:hover input.datepicker {
  display: block;
}